<navbar></navbar>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Grupe</h1>
    </div>

    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="adauga(form)" autocomplete="off" novalidate>
        <div class="row">

          <div class="form-group col-sm-3" ng-class="{ 'has-success': (form.cursDenumire.$valid || !selectFlag) && submitted,
                                            'has-error': (form.cursDenumire.$invalid || !selectFlag) && submitted }">
            <label>Curs</label>

            <!--<input type="text" name="curs" class="form-control" ng-model="grupa.curs"-->
                   <!--required/>-->
            <input type="text" name="cursDenumire" ng-model="grupa.cursDenumire" placeholder="Cursuri"
                   typeahead="c for c in getCursuri($viewValue)" typeahead-loading="loadingLocations"
                   class="form-control" typeahead-on-select="selectCurs($item, $model, $label)" required>

            <p class="help-block" ng-show="form.cursDenumire.$error.required && submitted">
              Cursul este necesar
            </p>
            <p class="help-block" ng-show="!selectFlag && submitted">
              Cursul trebuie selectat din lista
            </p>
          </div>

          <div class="form-group col-sm-3" ng-class="{ 'has-success': form.dataStart.$valid && submitted,
                                            'has-error': form.dataStart.$invalid && submitted }">
            <label>Data Start</label>
            <input type="date" class="form-control" datepicker-popup ng-model="grupa.dataStart"
                   datepicker-options="dateOptions">
          </div>

          <div class="form-group col-sm-3" ng-class="{ 'has-success': form.dataStop.$valid && submitted,
                                            'has-error': form.dataStop.$invalid && submitted }">
            <label>Data Stop</label>
            <input type="date" class="form-control" datepicker-popup ng-model="grupa.dataStop"
                   datepicker-options="dateOptions">
          </div>

          <div class="form-group col-sm-2" ng-class="{ 'has-success': form.nrGrupa.$valid && submitted,
                                            'has-error': form.nrGrupa.$invalid && submitted }">
            <label>Numar Grupa</label>

            <input type="text" name="nrGrupa" class="form-control" ng-model="grupa.nrGrupa"
                   required/>
            <p class="help-block" ng-show="form.nrGrupa.$error.required && submitted">
              Numarul grupei este necesar
            </p>
          </div>

          <div class="form-group col-sm-1" ng-class="{ 'has-success': form.nrLocuri.$valid && submitted,
                                            'has-error': form.nrLocuri.$invalid && submitted }">
            <label>Locuri</label>

            <input type="number" name="nrLocuri" class="form-control" ng-model="grupa.nrLocuri"
                   required/>
            <p class="help-block" ng-show="form.nrLocuri.$error.required && submitted">
              Numarul de locuri este necesar
            </p>
          </div>

        </div>

        <div class="row col-sm-12">

          <button ng-disabled="updateFlag" class="btn btn-inverse btn-lg" type="submit">
            Adauga
          </button>
          <button ng-disabled="updateFlag" class="btn btn-default btn-lg" type="button" ng-click="cauta()">
            Cauta
          </button>
          <button ng-show="updateFlag" class="btn btn-default btn-lg" type="button" ng-click="salveaza_modificari()">
            Modifica
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="container" style="padding-top: 50px">
    <table class="table">
      <thead>
      <tr>
        <th>Curs</th>
        <th>Data Start</th>
        <th>Data Stop</th>
        <th>Numar Grupa</th>
        <th>Numar Locuri</th>
        <th>Sterge/Modifica</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="c in lista">
        <td class="col-sm-2"> {{c.cursDenumire}}</td>
        <td class="col-sm-2"> {{c.dataStart | date}}</td>
        <td class="col-sm-2">{{c.dataStop | date}}</td>
        <td class="col-sm-1">{{c.nrGrupa}}</td>
        <td class="col-sm-1">{{c.nrLocuri}}</td>
        <td class="col-sm-1">
          <button class="glyphicon glyphicon-remove" ng-click="sterge(c._id)"></button>
          <button class="glyphicon glyphicon-pencil" ng-click="modifica(c._id)"></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
